build/

.vs/*
!.vs/launch.vs.json
.ipynb_checkpoints
.OldVersions
*.pyc


*.lck


mesh/v7.0/OldVersions/

src/python/runs/

src/python/tmp/

mesh/v8.0/OldVersions/

mesh/v9.0/OldVersions/

src/python_src/runs/

src/python_src/exp/
